body {
  background-image: url(/assets/tela3.jpg.jpg);
  background-repeat: no-repeat;
}


.container {
  margin: 160px auto;
  padding: 40px 30px;
  border-radius: 12px;
  border: 2px solid #ddd;
  text-align: center;
  background-color: #ffffff68;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.title-sge {
  display: flex;
  justify-content: center;
}

.buttons {
  color: rgb(255, 255, 255);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #007bff;
    transform: translateY(-2px);
}

.barEmail, .barPassword, .barConfirmPass {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}











/*
#lg {
  background-color: blue
}

#se {
  background-color: black;
  padding: 6px 10px;
  font-size: 14px;
  width: 22%;
  display: grid;
  height: 40px;

}

#gg {

  background-color: lightskyblue;
  padding: 6px 10px;
  font-size: 20px;
  width: 30%;
  display: grid;
  height: 40px;

}





#ff {
  background-color: lightskyblue;
  padding: 6px 10px;
  font-size: 20px;
  width: 30%;
  display: grid;
  height: 40px;
}

#hh {
  background-color: lightskyblue;

  font-size: 20px;
  width: 30%;
  display: flow-root;
  height: 40px;

}

#dd {
  background-color: black;
  padding: 1px 5px;
  font-size: 14px;
  width: 15%;
  display: grid;
  height: 30px;
}

#al {
  display: inline-flex;
}

#txt {
  display: grid;
}

#ss {
  display: inline-flex;
}

#btnReservar {
  background-color: gray;
}

#cd {
  display: grid;
}


#nome {
  font-style: initial;
}
*/





.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 13%;
}

.footer a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

#espaco {
  color: black;
}

#vd {
  color: #fff;
}

#re button {
  background-color: transparent;
  border: none;


}

#espaco,
#data,
#hora,
#tipoEvento {
  color: #000;
}

label.text-white {
  color: #000 !important;
}

#reserva {
  color: black;
}

/* Título "Reserva de Espaço" */
h3.text-white {
  color: #000 !important;
}

/* Labels do formulário */
label.text-white {
  color: #000 !important;
}