<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

  <img src="conatos.png" alt="conatos">

  <footer class="footer">
        <div class="container text-center">
            <p class="mb-2">&copy; 2025 SGE-EVENTS — Todos os direitos reservados.</p>

            <div class="mb-2">
                <a href="#sobre">Sobre</a>
                <a href="#contato">Contato</a>
                <a href="#privacidade">Política de Privacidade</a>
            </div>

            <div>
                <a href="https://www.facebook.com" target="_blank">Facebook</a>
                <a href="https://www.twitter.com" target="_blank">Twitter</a>
                <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
            </div>
        </div>
    </footer>

</html>